.pageNotFoundWrapper{
    margin: auto;
    text-align: center;
}
.test {
    background-color: #F1B82D;
    margin: auto;
    text-align: center;
}
ion-img {
    margin: auto;
    text-align: center;
}
#muStacked {
    width: 25vw;
}