//Styling for Header
.buttoon {
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    font-size: x-large;
    margin-top: 0px;
}
.subtext{
    font-weight: bolder;
}
.subtext2{
    font-weight: bolder;
    text-align: center;
    font-family: 'GRAPHIK', serif;
}
a{
    color:#F1B82D;
}

.notoSerif {
    font-family: 'GRAPHIK', serif;
}
#muStacked {
    display: inline-block;
    width: 25vw;
    margin: 0;
    text-align: left;
}
.buttoon:hover {
    background-color: white;
    color: black;
}
.mainWrapper {
    min-height: 1000px;
}
ion-row {
    background-color: #000000;
}
.navbarWrapper {
    margin: auto;
    text-align: center;
    padding: 15px;
}
.titleWrapper {
    margin: auto;
    text-align: center;
    width: 75%;
}
.titleClass {
    margin: auto;
    text-align: center;
}
.formWrapper {
    width: 50%;
    margin: auto;
    text-align: center;
}
.selectWrapper{
    width: 100%;
    background-color: #F1B82D;
}
ion-select {
    width: 100%;
}
ion-card {
    width: 40%;
    padding: 2px;
    margin: auto;
}
ion-card-title {
    font-family: 'gotham', sans-serif;
}
h3 {
    font-family: 'gotham', sans-serif;
}
h4 {
    font-family: 'gotham', sans-serif;
}
.clearButton {
    width: 50%;
}
.clearWrapper {
    display: flex;
    width: 50%;
    margin: auto;
}
ion-title {
    margin: auto;
    font-family: 'GRAPHIK', sans-serif;
    text-align: center;
}
form {
    border: 2px solid black;
}
.footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 45px;
    font-size: x-large;
}
.navigationWrapper {
    width: 100%;
    // display: flex;
    margin: auto;
    text-align: center;
    padding: 15px;
}
.backButton {
    background-color: white;
    color: black;
    width: 100%;
}