<ion-header id="header">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="1">
        <ion-img id="muStacked" src= "../assets/MU_UnitSig_CollegeofEngineering_rgb_rev_horiz.png"></ion-img>
      </ion-col>
      <ion-col size="11">
        <div class="navbar">
          <div class="navbarWrapper">
            <a routerLink="../../"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Home</button></a>
            <a routerLink="../../all-courses"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >IT Minor Calculator</button></a>
            <a routerLink="../../certificates"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Certificates</button></a>
            <a routerLink="../../minors"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Minors</button></a>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="navbar">
    <div class="mainWrapper">
      <h1 class="notoSerif">ENGINEERING MINOR CALCULATOR</h1>
      <a routerLink="../certificates"><button mat-raised-button class="btn buttoon btn-success pull-right" >Click here to go back to the certificates page!</button></a>
    <h3 class="notoSerif">To get started, enter the 4 digit course number of the IT courses you have taken at Mizzou and click the plus on the right to add it to your courses. Next, the system will perform a series of checks to compare the course you have taken to the courses required for the IT minor. Lastly, your results will be presented below. </h3>
    <div class="formWrapper">
      <form [formGroup]="completedCoursesForm" (ngSubmit)="addCourse()">
        <ion-item>
          <ion-select formControlName="completedCourse" value={options} multiple="true" cancelText="Cancel" okText="Continue">
            <ion-select-option value="ENGINR1000">ENGINR 1000</ion-select-option>
            <ion-select-option value="ENGINR1100">ENGINR 1100</ion-select-option>
            <ion-select-option value="ENGINR1200">ENGINR 1200</ion-select-option>
            <ion-select-option value="ENGINR2100">ENGINR 2100</ion-select-option>
            <ion-select-option value="ENGINR1040">ENGINR 2300</ion-select-option>
            <ion-select-option value ='INFOTC1040'>INFOTC 1040</ion-select-option>
            <ion-select-option value= "CMPSC1050">CMP SC 1050</ion-select-option>
            <ion-select-option value="BIOLEN2180">BIOL EN 2180</ion-select-option> 
            <ion-select-option value="CHENG2225">CH ENG 2225</ion-select-option>
            <ion-select-option value="CVENG3100">CV ENG 3100</ion-select-option>
            <ion-select-option value="CVENG3200">CV ENG 3200</ion-select-option>
            <ion-select-option value="CVENG3700">CV ENG 3700</ion-select-option>
            <ion-select-option value="CVENG4250">CV ENG 4250</ion-select-option>
            <ion-select-option value="CVENG4500">CV ENG 4500</ion-select-option>
            <ion-select-option value="ENGINR2200">ENGINR 2200</ion-select-option>
            <ion-select-option value="ECE2210">ECE 2210</ion-select-option>
            <ion-select-option value="IMSE2030">IMSE 2030</ion-select-option>
            <ion-select-option value="IMSE2110">IMSE 2110</ion-select-option>
            <ion-select-option value="IMSE2210">IMSE 2210</ion-select-option>
            <ion-select-option value="IMSE2710">IMSE 2710</ion-select-option>
            <ion-select-option value="MAE2600">MAE 2600</ion-select-option> -->
            <!-- <ion-select-option *ngFor = 'let class of CyberSecCoreArray'>{{class.courseID}}</ion-select-option> -->
          </ion-select>
      <ion-input type="text" formControlName="completedCourse" placeholder="Add a Course"></ion-input>
          <!-- <ion-button expand="full" (click)="addCourse()" [disabled]="!completedCoursesForm.valid">
            <ion-icon name="add"></ion-icon>
          </ion-button> -->
        </ion-item>
      </form>
      <ion-button expand="full" color="success"(click)="clear(); addCourse(); check();">Check Progress</ion-button>
    </div>
    <div class="formWrapper">

      <ion-button expand="full" color="danger"(click)="clear()"> Clear Data</ion-button>
    </div>
    <ion-title>Core Courses Left to Complete</ion-title> 
    <ion-card *ngFor='let course of incompletedArray'>
      <ion-card-title>
        {{ course.courseID }} {{course.name}}
      </ion-card-title>
    </ion-card>

    <div class="notoSerif" *ngIf = 'showElectives == true'>
      <ion-title>Complete {{ left }} of the following Courses</ion-title> 
      <ion-card  *ngFor='let a of  incompletedElectiveArray' >
        <ion-card-title>
        {{ a.courseID }} {{a.name}}
        </ion-card-title>
      </ion-card>
    </div>
    </div>
    
  </div>
</ion-content>

