<ion-header id="header">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="1">
        <ion-img id="muStacked" src= "../assets/MU_UnitSig_CollegeofEngineering_rgb_rev_horiz.png"></ion-img>
      </ion-col>
      <ion-col size="11">
        <div class="navbar">
          <div class="navbarWrapper">
            <a routerLink="../../"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Home</button></a>
            <a routerLink="../../about"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >About Us</button></a>
            <a routerLink="../../certificates"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Certificates</button></a>
            <a routerLink="../../minors"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Minors</button></a>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="navbar">
    <div class="mainWrapper">
      <h1 class="notoSerif">ENGINEERING MINOR CALCULATOR</h1>
      <a routerLink="../certificates"><button mat-raised-button class="btn buttoon btn-success pull-right" >Click here to go back to the certificates page!</button></a>
    <h3 class="notoSerif">Select the drop down to input courses you've completed. Click the "Check Progress" button to obtain your results. </h3>
    <div class="formWrapper">
      <form [formGroup]="completedCoursesForm" (ngSubmit)="addCourse()">
        <ion-item>
          <ion-select formControlName="completedCourse" value={options} multiple="true" cancelText="Cancel" okText="Continue">
            <ion-select-option value="ENGINR1000">ENGINR 1000: Introduction to Engineering</ion-select-option>
            <ion-select-option value="ENGINR1100">ENGINR 1100: Engineering Graphics Fundamentals</ion-select-option>
            <ion-select-option value="ENGINR1200">ENGINR 1200: Statics and Elementary Strength of Materials</ion-select-option>
            <ion-select-option value="ENGINR2100">ENGINR 2100: Circuit Theory for Engineers</ion-select-option>
            <ion-select-option value="ENGINR2300">ENGINR 2300: Engineering Thermodynamics</ion-select-option>
            <ion-select-option value='INFOTC1040 OR CMPSC1050'>INFOTC 1040: Introduction to Problem Solving and Programming</ion-select-option>
            <ion-select-option value= "INFOTC1040 OR CMPSC1050">CMP SC 1050: Algorithm Design and Programming I</ion-select-option>
            <ion-select-option value="BIOLEN2180">BIOL EN 2180: Engineering Analysis of Bioprocesses</ion-select-option> 
            <ion-select-option value="CHENG2225">CH ENG 2225: Mass and Energy Balance</ion-select-option>
            <ion-select-option value="CVENG3100">CV ENG 3100: Fundamentals of Transportation Engineering</ion-select-option>
            <ion-select-option value="CVENG3200">CV ENG 3200: Fundamentals of Environmental Engineering</ion-select-option>
            <ion-select-option value="CVENG3700">CV ENG 3700: Fluid Mechanics</ion-select-option>
            <ion-select-option value="CVENG4250">CV ENG 4250: Environmental Regulatory Compliance</ion-select-option>
            <ion-select-option value="CVENG4500">CV ENG 4500: Introduction to Construction Management</ion-select-option>
            <ion-select-option value="ENGINR2200">ENGINR 2200: Intermediate Strength of Materials</ion-select-option>
            <ion-select-option value="ECE2210">ECE 2210: Introduction to Logic Systems</ion-select-option>
            <ion-select-option value="IMSE2030">IMSE 2030: Fundamentals of Systems Design and Analysis</ion-select-option>
            <ion-select-option value="IMSE2110">IMSE 2110: Probability and Statistics for Engineers</ion-select-option>
            <ion-select-option value="IMSE2210">IMSE 2210: Linear Algebra for Engineers</ion-select-option>
            <ion-select-option value="IMSE2710">IMSE 2710: Engineering Economic Analysis</ion-select-option>
            <ion-select-option value="MAE2600">MAE 2600: Dynamics</ion-select-option> -->
            <!-- <ion-select-option *ngFor = 'let class of CyberSecCoreArray'>{{class.courseID}}</ion-select-option> -->
          </ion-select>
      <ion-input type="text" formControlName="completedCourse" placeholder="Add a Course"></ion-input>
          <!-- <ion-button expand="full" (click)="addCourse()" [disabled]="!completedCoursesForm.valid">
            <ion-icon name="add"></ion-icon>
          </ion-button> -->
        </ion-item>
      </form>
      <ion-button expand="full" color="success"(click)="clear(); addCourse(); check();">Check Progress</ion-button>
    </div>
    <div class="formWrapper">

      <ion-button expand="full" color="danger"(click)="clearAll()"> Clear All</ion-button>
    </div>
    <ion-title *ngIf = 'ran == true'>You have completed {{ percent }}% of the requirements!</ion-title>
    <ion-title *ngIf = 'coreLeft == true'> Core Courses Left to Complete</ion-title> 
    <ion-title *ngIf = 'completed == true'>You completed the Web Dev certificate!</ion-title> 
    <ion-card *ngFor='let course of incompletedArray'>
      <ion-card-title>
        {{ course.courseID }} {{course.name}}
      </ion-card-title>
    </ion-card>

    <div class="notoSerif" *ngIf = 'showElectives == true'>
      <ion-title>Complete {{ left }} of the following Courses</ion-title> 
      <ion-card  *ngFor='let a of  incompletedElectiveArray' >
        <ion-card-title>
        {{ a.courseID }} {{a.name}}
        </ion-card-title>
      </ion-card>
    </div>
    </div>
    
  </div>
</ion-content>

