<ion-header id="header">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="1">
        <ion-img id="muStacked" src= "../assets/MU_UnitSig_CollegeofEngineering_rgb_rev_horiz.png"></ion-img>
      </ion-col>
      <ion-col size="11">
        <div class="navbar">
          <div class="navbarWrapper">
            <a routerLink="../../"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Home</button></a>
            <a routerLink="../../about"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >About Us</button></a>
            <a routerLink="../../certificates"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Certificates</button></a>
            <a routerLink="../../minors"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Minors</button></a>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
