<ion-header id="header">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="1">
        <ion-img id="muStacked" src= "../assets/MU_UnitSig_CollegeofEngineering_rgb_rev_horiz.png"></ion-img>
      </ion-col>
      <ion-col size="11">
        <div class="navbar">
          <div class="navbarWrapper">
            <a routerLink="../"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Home</button></a>
            <a routerLink="../all-courses"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >IT Minor Calculator</button></a>
            <a routerLink="../certificates"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Certificates</button></a>
            <a routerLink="../minors"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Minors</button></a>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <div class="title">
      <h1 class="notoSerif">MIZZOU COLLEGE OF ENGINEERING ACADEMIC MINORS</h1>
      <h3 class="notoSerif">On this page, you will find a comprehensive list of the academic minors offered by the College of Engineering at Mizzou.</h3>
      <h5>Information provided by <a href="https://engineering.missouri.edu/academics/engineering-minors/">Mizzou College of Engineering</a></h5>
    </div>
    <div class=”home”>
      <ion-card>
        <ion-title class=”notoSerif”>
          COMPUTER SCIENCE MINOR
        </ion-title>
        <ion-card-subtitle class=”notoSerif”>
          15
        </ion-card-subtitle>
      <ion-card-content class=”subtext”>
        This stand-alone certificate is offered online and is highly focused on real-world use cases through multiple hands-on laboratories and up-to-date training.
      </ion-card-content>
      <a routerLink="../minors/compsci"><button mat-raised-button class="btn buttoon btn-success pull-right">Click here to view the Computer Science Minor</button></a>
      </ion-card>
    </div>
    <div class=”home”>
      <ion-card>
        <ion-title class=”notoSerif”>
          INFORMATION TECHNOLOGY MINOR
        </ion-title>
        <ion-card-subtitle class=”notoSerif”>
          15
        </ion-card-subtitle>
      <ion-card-content class=”subtext”>
        This stand-alone certificate is offered online and is highly focused on real-world use cases through multiple hands-on laboratories and up-to-date training.
      </ion-card-content>
      <a routerLink="../minors/infotech"><button mat-raised-button class="btn buttoon btn-success pull-right">Click here to view the Information Technology Minor</button></a>
      </ion-card>
    </div>
    <div class=”home”>
      <ion-card>
        <ion-title class=”notoSerif”>
          ENGINEERING MINOR
        </ion-title>
        <ion-card-subtitle class=”notoSerif”>
          15
        </ion-card-subtitle>
      <ion-card-content class=”subtext”>
        This stand-alone certificate is offered online and is highly focused on real-world use cases through multiple hands-on laboratories and up-to-date training.
      </ion-card-content>
      <a routerLink="../minors/engineering"><button mat-raised-button class="btn buttoon btn-success pull-right">Click here to view the Engineering Minor</button></a>
      </ion-card>
    </div>
</ion-content>
