.home {
    margin: auto;
    text-align: center;
    margin-top: 25px;
    display: flex;
    width: 100%;
}
.title {
    margin: auto;
    text-align: center;
    font-size: large;
}
#muStacked {
    width: 25vw;
}
#header {
    background-color: #F1B82D;
    margin: 0;
    text-align: left;
    color: black;
    padding: 15px;
    border: 0;
}
.test {
    background-color: #F1B82D;
    margin: auto;
    text-align: center;
}
ion-title {
    font-family: 'IMPACT', sans-serif;
    font-size: xx-large;
}
ion-card-content {
    font-family: 'GRAPHIK', sans-serif;
    font-size: medium;
}
ion-img {
    margin: auto;
    text-align: center;
}
ion-card {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    padding: 15px;
}
ion-card:hover {
    background-color: #F1B82D;
    color:black;
}
// .cardText:hover {
//     color:black;
// }
.programTitle {
    color: #F1B82D;
}
.navbar {
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    display: block;
}
.buttoon {
    margin: auto;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.buttoon:hover {
    background-color: #F1B82D;
    color: black;
}
.footer{
    background-color: #8F8884;
    margin: auto;
    text-align: center;
    color: black;
    padding: 15px;
    font-size: x-large;
}