<ion-header id="header">
  <ion-toolbar>
    <div class = "test">
        <ion-img id="muStacked" src= "../assets/MU_UnitSig_CollegeofEngineering_rgb_std_horiz.png"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <div class="home">
      <div class="card">
        <ion-card *ngFor="let m of data">
          <ion-title>
            {{ m.name }}
          </ion-title>
          <ion-card-subtitle>
            {{m.credits}}
          </ion-card-subtitle>
          <ion-card-content>
            {{ m.description }}
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div class="navbar">
      <a routerLink="../"><button mat-raised-button class="btn buttoon btn-success pull-right" >Click here to go back to the homepage</button></a>
    </div>
</ion-content>
