<ion-header id="header">
  <ion-toolbar>
    <div class = "test">
        <ion-img id="muStacked" src= "../assets/MU_UnitSig_CollegeofEngineering_rgb_std_horiz.png"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="navbar">
    <div class="mainWrapper">
      <h1 class="notoSerif">CYBERSECURITY CERTIFICATE CALCULATOR</h1>
      <a routerLink="../certificates"><button mat-raised-button class="btn buttoon btn-success pull-right" >Click here to go back to the certificates page!</button></a>
    <h3 class="notoSerif">To get started, enter the 4 digit course number of the IT courses you have taken at Mizzou and click the plus on the right to add it to your courses. Next, the system will perform a series of checks to compare the course you have taken to the courses required for the IT minor. Lastly, your results will be presented below. </h3>
    <div class="formWrapper">
      <form [formGroup]="completedCoursesForm" (ngSubmit)="addCourse()">
        <ion-item>
          <ion-select formControlName="completedCourse" value={options} multiple="true" cancelText="Cancel" okText="Continue">
            <ion-select-option value="1040">INFOTC 1040</ion-select-option>
            <ion-select-option value="2810">INFOTC 2810</ion-select-option>
            <ion-select-option value="2830">INFOTC 2830</ion-select-option>
            <ion-select-option value="2910">INFOTC 2910</ion-select-option>
            <ion-select-option value="3530">INFOTC 3530</ion-select-option>
            <ion-select-option value ='3810'>INFOTC 3810</ion-select-option>
            <ion-select-option value= "3850">INFOTC 3850</ion-select-option>
            <ion-select-option value="3910">INFOTC 3910</ion-select-option> 
            <ion-select-option value="4910">INFOTC 4910</ion-select-option>
            <!-- <ion-select-option *ngFor = 'let class of CyberSecCoreArray'>{{class.courseID}}</ion-select-option> -->
          </ion-select>
      <!-- <ion-input type="text" formControlName="completedCourse" placeholder="Add a Course"></ion-input> -->
          <ion-button expand="full" (click)="addCourse()" [disabled]="!completedCoursesForm.valid">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-item>
      </form>
    </div>
    <div class="formWrapper">
      <ion-button expand="full" color="success"(click)="check()">Check Progress</ion-button>
      <ion-button expand="full" color="danger"(click)="clear()"> Clear Data</ion-button>
    </div>
    <ion-title>Core Courses Left to Complete</ion-title> 
    <ion-card *ngFor='let course of incompletedArray'>
      <ion-card-title>
        {{ course.courseID }} {{course.name}}
      </ion-card-title>
    </ion-card>

    <div class="notoSerif" *ngIf = 'showElectives == true'>
      <ion-title>Complete ONE of the following Courses</ion-title> 
      <ion-card  *ngFor='let a of  CyberSecElectiveArray' >
        <ion-card-title>
        {{ a.courseID }} {{a.name}}
        </ion-card-title>
      </ion-card>
    </div>
    </div>
    
  </div>
</ion-content>

