<ion-header id="header">
  <ion-toolbar>
    <div class = "test">
        <ion-img id="muStacked" src= "../assets/MU_UnitSig_CollegeofEngineering_rgb_std_horiz.png"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="navbar">
    <a routerLink="../"><button mat-raised-button class="btn buttoon btn-success pull-right" >Click here to go back to the homepage</button></a>
  </div>
  <div class="mainWrapper">
    <h1 class="notoSerif">CYBERSECURITY CERTIFICATE</h1>
  </div>
</ion-content>
