<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Noto+Serif&display=swap" rel="stylesheet">
<ion-header id="header">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="1">
        <ion-img id="muStacked" src= "../assets/MU_UnitSig_CollegeofEngineering_rgb_rev_horiz.png"></ion-img>
      </ion-col>
      <ion-col size="11">
        <div class="navbar">
          <div class="navbarWrapper">
            <a routerLink="../"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Home</button></a>
            <a routerLink="../about"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >About Us</button></a>
            <a routerLink="../certificates"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Certificates</button></a>
            <a routerLink="../minors"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Minors</button></a>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="footer">
    <ion-title id="styledHeader">
      Mizzou College of Engineering Minor and Certificate Calculator
    </ion-title>
    <div class="cardWrapper" fxLayout="row">
      <ion-card class="developer">
        <ion-card-title>
          Mason Adrales
        </ion-card-title>
        <ion-card-subtitle>
          Front End Developer
        </ion-card-subtitle>
        <ion-card-content>
          Mason worked as the primary front end developer for this project. Utilizing his learnings in the Web Development series at Mizzou, Mason was able to implement front-end features that allowed the users to have a small and seamless UX for the project.
        </ion-card-content>
      </ion-card>
      <ion-card class="developer">
        <ion-card-title>
          Sarina Gaines
        </ion-card-title>
        <ion-card-subtitle>
          Back End Developer
        </ion-card-subtitle>
        <ion-card-content>
          Sarina worked as the primary back end developer for this project. Sarina had previous expereience working with Ionic and Angular through the Web Development sequence offered at Mizzou. In addition, Sarina predominantly created the logic for how our application can check the courses taken against the course required for each minor.
        </ion-card-content>
      </ion-card>
      <ion-card class="developer">
        <ion-card-title>
          Andrew Brown
        </ion-card-title>
        <ion-card-subtitle>
          Back End Developer/AWS Specialist
        </ion-card-subtitle>
        <ion-card-content>
          Andrew lead the AWS portion of this project by deploying an active AWS EC2 instance for our project to be hosted on. Andrew used the skills he learned through Web Development I as well as a variety of security and UNIX-base courses to help setup the instance. Andrew also assisted Sarina with the back end.
        </ion-card-content>
      </ion-card>
      <ion-card class="developer">
        <ion-card-title>
          Michael Smith
        </ion-card-title>
        <ion-card-subtitle>
          Full Stack Developer
        </ion-card-subtitle>
        <ion-card-content>
          Michael worked as our only full stack developer for this project. Michael was able to assist in creating pages and views for the application on the front end while pitching in ideas for the backend logic. Michael also worked to setup meetings between the team and mentors to ensure our project was completed to the best of our abilities.
        </ion-card-content>
      </ion-card>
    </div>
    <div class="contactInfo">
      <h1 class="notoSerif footer">This project was created by Team JustDoIT for the Information Technology Capstone course at the University of Missouri. This application is not intended to be commercialized without the consent of the Mizzou College of Engineering.</h1>
    </div>
  </div>
</ion-content>
