<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Noto+Serif&display=swap" rel="stylesheet">
<ion-header id="header">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="1">
        <ion-img id="muStacked" src= "../assets/MU_UnitSig_CollegeofEngineering_rgb_rev_horiz.png"></ion-img>
      </ion-col>
      <ion-col size="11">
        <div class="navbar">
          <div class="navbarWrapper">
            <a routerLink="../"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Home</button></a>
            <a routerLink="../about"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >About Us</button></a>
            <a routerLink="../certificates"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Certificates</button></a>
            <a routerLink="../minors"><button mat-raised-button class="btn buttoon btn-success pull-right notoSerif" >Minors</button></a>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="cardWrapper" fxLayout="row">
      <div class="spacerItem">
        <h1 class="notoSerif titleText">Our Website</h1>
        <h5 class="subtext">
          This website was created for the Information Technology Capstone course. Our team was tasked by Brian Maurer to create an application that would assist student’s in their pursuit towards certificates and minors within the University of Missouri’s College of Engineering. Our project was created with the intention of future growth, so that additional minors and certificates encompassed by the College of Engineering may be added. We would like to add special thanks to Brian Maurer, Chip Gubera, Fang Wang and Nickolas Wergeles for the support they provided our team in the production of this website.  
        </h5>
      </div>
      <div class="spacer">

        <div class="spacerItem column">
          <ion-img src="../../assets/mason.jpg" class="leftRight"></ion-img>
          <ion-title class="notoSerif titleText">Mason Adrales<h6>Front End Developer</h6></ion-title>
          <p>Mason worked as the primary front end developer for this project. Utilizing his learnings in the Web Development series at Mizzou, Mason was able to implement front-end features that allowed the users to have a small and seamless UX for the project. He is responsible for the consistent design, navigation as well as
            well as the implementation of Mizzou’s identity onto our website.</p>
      </div>

      <div class="spacerItem column">

        <ion-img src="../../assets/sarina.jpg" class="leftRight"></ion-img>
        <ion-title class="notoSerif titleText">Sarina Gaines <h6>Back End Developer</h6></ion-title>
        <p>Sarina worked as the back end developer for this project. She had previous experience working with Ionic and Angular through the Web Development sequence offered at Mizzou. Sarina coded the backend for each minor/certificate calculator and created the logic for how our application can check the courses taken against the course required for each minor and certificate calculator.</p>
      </div>

      <div class="spacerItem column">
        <ion-img src="../../assets/andy.jpg" class="leftRight"></ion-img>
          <ion-title class="notoSerif titleText">Andrew Brown <h6>AWS Specialist</h6></ion-title>
          <p>Andrew lead the AWS portion of this project by deploying an active AWS EC2 instance for our project to be hosted on. Andrew used the skills he learned through Web Development I as well as a variety of security and UNIX-base courses to help setup the instance. Andrew also assisted with uploading required course data to JSON files and applying a domain name to our instance.</p>
      </div>

      <div class="spacerItem column">
        
          <ion-img src="../../assets/michael.jpg" class="leftRight"></ion-img>
          <ion-title class="notoSerif titleText">Michael Smith <h6>Front End Developer</h6></ion-title>
          <p>
            Michael worked as a front end developer for this project. He was able to assist in creating pages and views for the application on the front end and ensured that all pages displayed accurate and consistent information. He provided support to each group member where needed and also worked to set up meetings between the team and mentors to ensure our project was completed to the best of our abilities.</p>
      </div>
      </div>
    </div>
    <ion-footer>
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <h1 class="notoSerif footer">This project was created by Team JustDoIT for the Information Technology Capstone course at the University of Missouri. This application is not intended to be commercialized without the consent of the Mizzou College of Engineering.</h1>
        </ion-col>
      </ion-row>
    </ion-footer>


</ion-content>
