@font-face {
    font-family: 'Impact';
    src: url('../fonts/IMPACT.TTF');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "GRAPHIK";
    src: url('../fonts/GRAPHIKCONDENSED-BLACK.OTF');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "gotham";
    src: url('../fonts/iCiel\ Thin.ttf');
    font-weight: 500;
    font-style: normal;
}