<ion-header id="header">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="1">
        <ion-img id="muStacked" src= "../assets/MU_UnitSig_CollegeofEngineering_rgb_rev_horiz.png"></ion-img>
      </ion-col>
      <ion-col size="11">
        <div class="navbar">
          <div class="navbarWrapper">
            <a routerLink="../"><button mat-raised-button class="btn navButton btn-success pull-right notoSerif" >Home</button></a>
            <a routerLink="../about"><button mat-raised-button class="btn navButton btn-success pull-right notoSerif" >About Us</button></a>
            <a routerLink="../certificates"><button mat-raised-button class="btn navButton btn-success pull-right notoSerif" >Certificates</button></a>
            <a routerLink="../minors"><button mat-raised-button class="btn navButton btn-success pull-right notoSerif" >Minors</button></a>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <div class="cardWrapper">
      <div class="title">
        <h1 class="notoSerif">MIZZOU COLLEGE OF ENGINEERING UNDERGRADUATE CERTIFICATES</h1>
        <h5 >Information provided by <a class="mizzouLink" href="https://engineering.missouri.edu/academics/engineering-certificates/">Mizzou College of Engineering</a></h5>
      </div>
      <!-- <ion-grid>
        <ion-row>
          <ion-column>
            <div class=”home”>
              <ion-card>
                <ion-img src="../../assets/cybersec.jpg" class="centerImg"></ion-img>
                <ion-title class=”notoSerif”>
                CYBERSECURITY CERTIFICATE
                </ion-title>
                <ion-card-subtitle class=”notoSerif”>
                  15
                </ion-card-subtitle>
              <ion-card-content class=”subtext”>
                This stand-alone certificate is offered online and is highly focused on real-world use cases through multiple hands-on laboratories and up-to-date training.
              </ion-card-content>
              <a routerLink="../cybersec-certifcate"><button mat-raised-button class="btn buttoon btn-success pull-right">Click here to view the CyberSecurity Certificate</button></a>
              </ion-card>
            </div>
          </ion-column>
          <ion-column>
            <div class=”home”>
              <ion-card>
                <ion-img src="../../assets/infosys.jpeg" class="centerImg"></ion-img>
                <ion-title class=”notoSerif”>
                  INFORMATION SYSTEMS
                </ion-title>
                <ion-card-subtitle class=”notoSerif”>
                  12
                </ion-card-subtitle>
                <ion-card-content class=”subtext””>
                  This 12-credit hour stand-alone certificate is focused on technology used in most business workplaces. You’ll get a survey-level introduction to practices, design, programming and web application development.
                </ion-card-content>
                <a routerLink="../certificates/infosystems"><button mat-raised-button class="btn buttoon btn-success pull-right">Click here to view the Information Systems Certificate</button></a>
              </ion-card>
            </div>
          </ion-column>
        </ion-row>
        <ion-row>
          <ion-column>
            <div class=”home”>
              <ion-card>
                <ion-img src="../../assets/webdev.jpg" class="centerImg"></ion-img>
                <ion-title class=”notoSerif”>
                  WEB & MOBILE APP DEVELOPMENT CERTIFICATE
                </ion-title>
                <ion-card-subtitle class=”notoSerif”>
                  12
                </ion-card-subtitle>
                <ion-card-content class=”subtext”>
                  This stand-alone certificate is focused on web application and mobile application development. You will learn various programming languages, front- and back-end design and database management for both iOS and Android.
                </ion-card-content>
                <a routerLink="../certificates/mobilecert"><button mat-raised-button class="btn buttoon btn-success pull-right">Click here to view the Web & Mobile App Development Certificate</button></a>
              </ion-card>
            </div>
          </ion-column>
          <ion-column>
            <div class=”home”>
              <ion-card>
                <ion-img src="../../assets/media.jpg" class="centerImg"></ion-img>
                <ion-title class=”notoSerif”>
                  MEDIA TECHNOLOGY & DESIGN CERTIFICATE
                </ion-title>
                <ion-card-subtitle class=”notoSerif”>
                  12
                </ion-card-subtitle>
                <ion-card-content class=”subtext”>
                  This stand-alone certificate focuses on post-production, editorial, animation and media technology skills. Learn non-linear editing, 2D and 3D animation, motion graphics, visual effects, audio post-production, basic game design principles and production system designs.
                </ion-card-content>
                <a routerLink="../certificates/mediacert"><button mat-raised-button class="btn buttoon btn-success pull-right">Click here to view the Media Technology & Design Certificate</button></a>
              </ion-card>
            </div>
          </ion-column>
        </ion-row>
      </ion-grid> -->
      <div class=”home”>
        <ion-card>
          <!-- <ion-img src="../../assets/cybersec.jpg" class="centerImg"></ion-img> -->
          <ion-title class=”notoSerif”>
          CYBERSECURITY CERTIFICATE
          </ion-title>
          <ion-card-subtitle class=”notoSerif”>
            15
          </ion-card-subtitle>
        <ion-card-content class=”subtext”>
          This stand-alone certificate is offered online and is highly focused on real-world use cases through multiple hands-on laboratories and up-to-date training.
        </ion-card-content>
        <a routerLink="../cybersec-certifcate"><button mat-raised-button class="btn buttoon btn-success pull-right">Click here to view the CyberSecurity Certificate</button></a>
        </ion-card>
      </div>

    <div class=”home”>
      <ion-card>
        <!-- <ion-img src="../../assets/infosys.jpeg" class="centerImg"></ion-img> -->
        <ion-title class=”notoSerif”>
          INFORMATION SYSTEMS CERTIFICATE
        </ion-title>
        <ion-card-subtitle class=”notoSerif”>
          12
        </ion-card-subtitle>
        <ion-card-content class=”subtext””>
          This 12-credit hour stand-alone certificate is focused on technology used in most business workplaces. You’ll get a survey-level introduction to practices, design, programming and web application development.
        </ion-card-content>
        <a routerLink="../certificates/infosystems"><button mat-raised-button class="btn buttoon btn-success pull-right">Click here to view the Information Systems Certificate</button></a>
      </ion-card>
    </div>

    <div class=”home”>
      <ion-card>
        <!-- <ion-img src="../../assets/webdev.jpg" class="centerImg"></ion-img> -->
        <ion-title class=”notoSerif”>
          WEB & MOBILE APP DEVELOPMENT CERTIFICATE
        </ion-title>
        <ion-card-subtitle class=”notoSerif”>
          12
        </ion-card-subtitle>
        <ion-card-content class=”subtext”>
          This stand-alone certificate is focused on web application and mobile application development. You will learn various programming languages, front- and back-end design and database management for both iOS and Android.
        </ion-card-content>
        <a routerLink="../certificates/mobilecert"><button mat-raised-button class="btn buttoon btn-success pull-right">Click here to view the Web & Mobile App Development Certificate</button></a>
      </ion-card>
    </div>

    <div class=”home”>
      <ion-card>
        <!-- <ion-img src="../../assets/media.jpg" class="centerImg"></ion-img> -->
        <ion-title class=”notoSerif”>
          MEDIA TECHNOLOGY & DESIGN CERTIFICATE
        </ion-title>
        <ion-card-subtitle class=”notoSerif”>
          12
        </ion-card-subtitle>
        <ion-card-content class=”subtext”>
          This stand-alone certificate focuses on post-production, editorial, animation and media technology skills. Learn non-linear editing, 2D and 3D animation, motion graphics, visual effects, audio post-production, basic game design principles and production system designs.
        </ion-card-content>
        <a routerLink="../certificates/mediacert"><button mat-raised-button class="btn buttoon btn-success pull-right">Click here to view the Media Technology & Design Certificate</button></a>
      </ion-card>
    </div>
    <div class=”home”>
      <ion-card>
        <ion-title class=”notoSerif”>
          ALL CERTIFICATES
        </ion-title>
        <ion-card-subtitle class=”notoSerif”>
          12
        </ion-card-subtitle>
        <ion-card-content class=”subtext”>
          This tool can help track your progress towards each certificate in the College of Engineering.
        </ion-card-content>
        <a routerLink="../certificates/all-certs"><button mat-raised-button class="btn buttoon btn-success pull-right">Click here to calculate progress towards all certificates</button></a>
      </ion-card>
    </div>
    </div>
</ion-content>