<ion-header id="header">
  <ion-toolbar>
    <div class = "test">
      <ion-img id="muStacked" src= "../assets/MU_UnitSig_CollegeofEngineering_rgb_std_vert.png"></ion-img>
      <ion-title id="header">Mizzou Minor/Certificate Calculator</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home">
    <h1>This is the homepage. Welcome to our application!</h1>
    <h3>
      Michael will create the content for this page and update it to describe our application.
    </h3>
    <div class="navbar">
      <a routerLink="../all-courses"><button mat-raised-button class="btn buttoon btn-success pull-right" >Click here to go to the course page</button></a>
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis, lectus sit amet bibendum interdum, lacus neque viverra nisl, posuere vulputate metus neque ut urna. Quisque id velit nibh. Quisque consequat neque ac mi iaculis tincidunt. Donec eu enim vitae est imperdiet suscipit egestas eu augue. Duis nibh mi, gravida et est a, elementum aliquam ipsum. Mauris tristique ex quis vulputate aliquet. Integer eget massa id nunc fermentum rhoncus at nec tellus.
      Morbi id urna ultricies, feugiat ante in, finibus augue. Quisque in augue malesuada, ullamcorper sapien a, condimentum massa. Praesent vitae fringilla massa. Suspendisse ut odio vitae neque sodales tempus vitae vitae metus. Morbi euismod ipsum quis purus viverra ullamcorper. Vestibulum molestie nisl vitae quam eleifend tincidunt. Donec a felis non tellus porttitor rutrum. Quisque eget est finibus, varius erat sit amet, blandit lorem. Fusce dolor lorem, condimentum nec facilisis a, lobortis a orci. Pellentesque id velit nec ante tempus semper suscipit ac ante. Sed quis orci molestie, aliquet sapien venenatis, efficitur lectus. Integer placerat arcu non feugiat vehicula. Vivamus tellus magna, fringilla eu congue ut, sollicitudin in velit. Sed dignissim nisl at varius commodo.
      Sed ligula magna, blandit lobortis feugiat eu, tincidunt et tellus. Praesent venenatis, sem at dictum accumsan, lectus felis dictum diam, nec imperdiet nisl diam vel dui. Pellentesque at finibus libero. Donec euismod luctus neque non porttitor. Etiam vitae tempor libero. Fusce ultrices nulla at nisi congue, a luctus turpis hendrerit. Donec viverra, est id volutpat facilisis, nulla purus rhoncus est, facilisis tempus tortor nisi a nisl.
      Aliquam erat volutpat. Curabitur faucibus arcu ac suscipit tempor. Cras eget convallis elit, vel elementum metus. Vestibulum a ligula et felis ultricies scelerisque. Ut vel ipsum nunc. Donec eu libero ut mauris volutpat aliquam. Phasellus tincidunt imperdiet tortor, et imperdiet arcu ultrices in. Mauris hendrerit quam vitae fringilla lobortis. Etiam posuere dolor augue, sed vulputate justo condimentum sit amet. Cras ut luctus tortor, a pharetra lorem. Integer nisi neque, bibendum vitae maximus eu, mattis sed nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus pulvinar gravida vestibulum.
      Nam cursus convallis metus at sodales. Nunc quis tincidunt neque. Aenean non tellus ut urna ornare iaculis ac eget ligula. In bibendum nisl euismod dolor vulputate viverra. Vivamus non metus eu massa faucibus gravida in at lectus. Donec a mattis nulla. Suspendisse in scelerisque eros. In tincidunt quam mauris. Nullam lobortis convallis tortor, ac ornare ante sodales at. Sed eu nisi vitae massa cursus aliquam. In non pellentesque nisl. Praesent a mattis lorem, vel pharetra felis. Nunc ac luctus massa, id ullamcorper justo. Aenean et sem nec mauris elementum molestie. Nulla molestie convallis purus, ac feugiat lectus iaculis sit amet. Cras blandit finibus dui, eget cursus leo condimentum nec.
    </div>
    <ion-footer>
      <ion-toolbar>
        <div class = "footer">
          <ion-img id="muStacked" src= "../assets/MU_UnitSig_CollegeofEngineering_rgb_std_vert.png"></ion-img>
          <ion-title>Mizzou Minor/Certificate Calculator </ion-title>
          <h2>An Ionic application developed by Team JustDoIT</h2>
          <div class="nameDiv">
            <h4>Mason Adrales: Front End Developer</h4>
            <h4>Andrew Brown: Back End Developer</h4>
            <h4>Sarina Gaines: Back End Developer</h4>
            <h4>Michael Smith: Front End Developer</h4>
          </div>
        </div>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-content>
