.home {
    width: 85%;
    padding-left: 15vw;
    margin-top: 25px;
    // margin-bottom: 200px;
}
.footerImg {
    margin: auto;
    text-align: center;
    opacity: 25%;
}
.introCardsWrapper {
    display: flex;
    padding: 20px;
    width: 75%;
    margin: auto;
    text-align: center;
}
.developer {
    width: 25%;
    margin: 15px;
}
// .footer{

// // Taken from https://codepen.io/thecodercoder/pen/xxGOyPe
//     background-color: #8F8884;
//     margin: auto;
//     text-align: center;
//     color: black;
//     padding: 15px;
//     font-size: x-large;
//     position: relative;
//     min-height: 700px;
//     &::before{
//         content: "";
//         background-image: url(../../../assets/MU_UnitSig_CollegeofEngineering_rgb_std_vert.png);
//         background-size: cover;
//         max-height: 150px;
//         position: absolute;
//         background-position: center;
//         top: 0px;
//         right: 0px;
//         bottom: 0px;
//         left: 0px;
//         opacity: 0.25;
//     }
// }
h1 {
    margin: auto;
    text-align: center;
}
.left {
    text-align: left;
    float: left;
    margin-right: 25px;
}
.right {
    text-align: left;
    float: right;
}
.spacer {
    width: 100%;
    display: flex;
}
.spacerItem {
    margin: 1vw;
    background-color: #7D7D7D;
    color: black;
    padding: 15px;
}
#styledHeader{
    font-family: 'IMPACT', sans-serif;
    font-size: xx-large;
}
.notoSerif {
    font-family: 'GRAPHIK', serif;
}
.subtext {
    font-family: 'gotham', sans-serif;
}
.column {
      width: 33%;
}
ion-img {
    margin: auto;
    text-align: center;
    border: 5px solid black;
}
ion-card {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    padding: 15px;
    z-index: 17;
    font-family: 'GRAPHIK', serif;
}
ion-card:hover {
    background-color: #F1B82D;
    color:black;
}
ion-content {
    margin-top: 500px;
}
.programTitle {
    color: #F1B82D;
}
.navbar {
    margin: auto;
    text-align: left;
    padding: 10px;
    width: 100%;
    display: block;
    // border: 2px solid red;
}
#muStacked {
    display: inline-block;
    width: 25vw;
    margin: 0;
    // border: 2px solid red;
    text-align: left;
}

//Styling for Header
.buttoon {
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    font-size: x-large;
    margin-top: 0px;
}
.buttoon:hover {
    background-color: white;
    color: black;
}
ion-row {
    background-color: #000000;
}
.navbarWrapper {
    margin: auto;
    text-align: center;
    padding: 15px;
}




.leftRight{
    margin-bottom: 25px;
}
.centerImg {
    margin-top: 50px;
}
.sliderImg {
    width: 75%;
}
ion-slide {
    display: inline;
}
.footer{
    color: white;
    padding: 15px;
}
.contactInfo {
    margin-bottom: 25px;
    margin-top: 25px;
    color: black;
}