<ion-header id="header">
  <ion-toolbar>
    <div class = "test">
      <ion-img id="muStacked" src= "../assets/MU_UnitSig_CollegeofEngineering_rgb_std_vert.png"></ion-img>
      <ion-title id="header">Mizzou Minor/Certificate Calculator</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home">
    <h1>This is the homepage. Welcome to our application!</h1>
    <h3>
      Michael will create the content for this page and update it to describe our application.
    </h3>
    <div class="navbar">
      <a routerLink="../all-courses"><button mat-raised-button class="btn buttoon btn-success pull-right" >Click here to go to the course page</button></a>
    </div>
  </div>
</ion-content>
