.home {
    width: 85%;
    padding-left: 15vw;
    margin-top: 25px;
    margin-bottom: 200px;
}
.footerImg {
    margin: auto;
    text-align: center;
    opacity: 25%;
}
.introCardsWrapper {
    display: flex;
    padding: 20px;
    width: 75%;
    margin: auto;
    text-align: center;
}
.developer {
    width: 25%;
    margin: 15px;
}
// .footer{

// // Taken from https://codepen.io/thecodercoder/pen/xxGOyPe
//     background-color: #8F8884;
//     margin: auto;
//     text-align: center;
//     color: black;
//     padding: 15px;
//     font-size: x-large;
//     position: relative;
//     min-height: 700px;
//     &::before{
//         content: "";
//         background-image: url(../../../assets/MU_UnitSig_CollegeofEngineering_rgb_std_vert.png);
//         background-size: cover;
//         max-height: 150px;
//         position: absolute;
//         background-position: center;
//         top: 0px;
//         right: 0px;
//         bottom: 0px;
//         left: 0px;
//         opacity: 0.25;
//     }
// }
h1 {
    margin: auto;
    text-align: center;
}
.left {
    text-align: left;
    float: left;
    margin-right: 25px;
}
.right {
    text-align: left;
    float: right;
}
.spacer {
    width: 100%;
    display: flex;
}
.spacerItem {
    margin: 1vw;
    background-color: #F1B82D;
    color: black;
    padding: 15px;
}
.custon-nav{
    height: 48px;
    width: 20px;
    cursor: pointer;
  
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .prev-icon-custom{
    background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll 0px 0px;
  }
  .prev-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
  }
  #swiper {
      width: 85%;
      margin: auto;
  }
  ion-slide {
      background-color: #F1B82D;
  }
  .next-icon-custom{
    background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll -32px 0px;
  }
  .next-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
  }
  #styledHeader{
    font-family: 'IMPACT', sans-serif;
    font-size: xx-large;
  }
  .notoSerif {
    font-family: 'GRAPHIK', serif;
  }
  .subtext {
    font-family: 'IMPACT', sans-serif;
  }
  .column {
      width: 33%;
  }
  .slider-nav{
    ion-icon{
        height: 100%;
    }
  }
  
  .slide-text{
    position: absolute;
    color: white;
    bottom: 30px;
  }
// #header {
//     background-color: #F1B82D;
//     margin: 0;
//     text-align: left;
//     color: black;
//     padding: 15px;
//     border: 0;
// }
ion-img {
    margin: auto;
    text-align: center;
}
ion-card {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    padding: 15px;
    z-index: 17;
    font-family: 'GRAPHIK', serif;
}
ion-card:hover {
    background-color: #F1B82D;
    color:black;
}
ion-content {
    margin-top: 500px;
}
.programTitle {
    color: #F1B82D;
}
.navbar {
    margin: auto;
    text-align: left;
    padding: 10px;
    width: 100%;
    display: block;
    // border: 2px solid red;
}
#muStacked {
    display: inline-block;
    width: 25vw;
    margin: 0;
    // border: 2px solid red;
    text-align: left;
}
.buttoon {
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: #F1B82D;
    color: black;
    // margin-bottom: 20px;
    // border: 2px solid red;
    margin-top: 0px;
}
.buttoon:hover {
    background-color: white;
    color: black;
}
.navbarWrapper {
    margin: auto;
    text-align: center;
}
.sliderImg {
    width: 75%;
}
ion-slide {
    display: inline;
}
.footer{
    color: white;
}