<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Noto+Serif&display=swap" rel="stylesheet">
<ion-header id="header">
  <ion-toolbar>
    <div class = "test">
        <ion-img id="muStacked" src= "../assets/MU_UnitSig_CollegeofEngineering_rgb_std_horiz.png"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="home">
      <h1 id="styledHeader">MIZZOU COLLEGE OF ENGINEERING MINOR AND CERTIFICATE TRACKER!</h1>
    <div class="navbarWrapper">
      <h2 class="notoSerif">Want to track your progress toward an academic minor or certificate?</h2>
      <h5 class="notoSerif">Select Minor or Certificate below to get started!</h5>
      <div class="navbar">
        <a routerLink="../all-courses"><button mat-raised-button class="btn buttoon btn-success pull-right" >All Courses</button></a>
        <a routerLink="../certificates"><button mat-raised-button class="btn buttoon btn-success pull-right" >Certificates</button></a>
        <a routerLink="../minors"><button mat-raised-button class="btn buttoon btn-success pull-right" >Minors</button></a>
      </div>
    </div>
    <div class="spacerItem" id="swiper">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
          <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
            <ion-slide>
              <img class ="sliderImg" src="../../../assets/MU_UnitSig_CollegeofEngineering_rgb_std_vert.png">
              <h3 class="notoSerif">Information Technology</h3>
              <h5 class="notoSerif">Course Include: INFOTC 1040, INFOTC 2040, INFOTC 2830</h5>
            </ion-slide>
            <ion-slide>
              <img class ="sliderImg" src="../../../assets/MU_UnitSig_CollegeofEngineering_rgb_rev_vert.png">
              <h3 class="notoSerif">Computer Science</h3>
              <h5 class="notoSerif">Course Include: COMP_SCI 1050, COMP_SCI 2050, COMP_SCI 3330</h5>
            </ion-slide>
            <ion-slide>
              <img class ="sliderImg" src="../../../assets/MU_UnitSig_CollegeofEngineering_rgb_std_vert.png">
              <h3 class="notoSerif">Aerospace Engineering</h3>
              <h5 class="notoSerif">Course Include: MAE 3400, MAE 3600, MAE 4210</h5>
            </ion-slide>
            <ion-slide>
              <img class ="sliderImg" src="../../../assets/MU_UnitSig_CollegeofEngineering_rgb_rev_vert.png">
              <h3 class="notoSerif">Engineering</h3>
              <h5 class="notoSerif">Course Include: ENGINR 1000, ENGINR 2000, ENGINR 3000</h5>
            </ion-slide>
          </ion-slides>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="spacer">
      <div class="spacerItem column">
        <h1 class="notoSerif">Looking for Academic Minor Programs?</h1>
        <h5 class="notoSerif2">
          The College of Engineering at Mizzou provides multiple options when it comes to pursuing an academic minor. From Electric Engineering to Information Technology, you will work hands on with state-of-the-art equipment while gaining valuable experience, all without distrupting your undergraduate degree progress!
        </h5>
      </div>
      <div class="spacerItem column">
        <h1 class="notoSerif">Undergraduate Certificates</h1>
        <h5 class="notoSerif2">
          From Application Development to CyberSecurity, the College of Engineering offers a plethora of undergrad certificate options. Certificates provide students with valuable documentation of their learning as well as increased felxbility when compared to major and minor programs.
        </h5>
      </div>
      <div class="spacerItem column">
        <h1 class="notoSerif">Which option is best for me? Minor or Certificate?</h1>
        <h5 class="notoSerif2">
          Minor programs allow students to incorporate optional coursework into their academic program in order to graduate with the official minor attached to their degree. Certificates on the other hand, are less prominent versions of a minor that can still show the student's coursework.
        </h5>
      </div>
    </div>
    <div class="spacerItem">
      <h1 class="notoSerif">What happened to the Degree Auditor?</h1>
      <h5 class="notoSerif2">
        The degree auditor is still available for students to track their progress. This application was created with the intent of allowing students to see how close they are to completing each minor and/or certificate within the College of Engineering, even if they have no previous knowledge of these programs. When using our application, the student will select each course they have taken and they will receive results on how close they are to completing each relevant minor and/or certificate.
      </h5>
    </div>
  </div>
  <div class="footer">
    <ion-title id="styledHeader">
      Mizzou College of Engineering Minor and Certificate Calculator
    </ion-title>
    <div class="introCardsWrapper" fxLayout="row">
      <ion-card class="developer">
        <ion-card-title>
          Mason Adrales
        </ion-card-title>
        <ion-card-subtitle>
          Front End Developer
        </ion-card-subtitle>
        <ion-card-content>
          Mason worked as the primary front end developer for this project. Utilizing his learnings in the Web Development series at Mizzou, Mason was able to implement front-end features that allowed the users to have a small and seamless UX for the project.
        </ion-card-content>
      </ion-card>
      <ion-card class="developer">
        <ion-card-title>
          Sarina Gaines
        </ion-card-title>
        <ion-card-subtitle>
          Back End Developer
        </ion-card-subtitle>
        <ion-card-content>
          Sarina worked as the primary back end developer for this project. Sarina had previous expereience working with Ionic and Angular through the Web Development sequence offered at Mizzou. In addition, Sarina predominantly created the logic for how our application can check the courses taken against the course required for each minor.
        </ion-card-content>
      </ion-card>
      <ion-card class="developer">
        <ion-card-title>
          Andrew Brown
        </ion-card-title>
        <ion-card-subtitle>
          Back End Developer/AWS Specialist
        </ion-card-subtitle>
        <ion-card-content>
          Andrew lead the AWS portion of this project by deploying an active AWS EC2 instance for our project to be hosted on. Andrew used the skills he learned through Web Development I as well as a variety of security and UNIX-base courses to help setup the instance. Andrew also assisted Sarina with the back end.
        </ion-card-content>
      </ion-card>
      <ion-card class="developer">
        <ion-card-title>
          Michael Smith
        </ion-card-title>
        <ion-card-subtitle>
          Full Stack Developer
        </ion-card-subtitle>
        <ion-card-content>
          Michael worked as our only full stack developer for this project. Michael was able to assist in creating pages and views for the application on the front end while pitching in ideas for the backend logic. Michael also worked to setup meetings between the team and mentors to ensure our project was completed to the best of our abilities.
        </ion-card-content>
      </ion-card>
    </div>
    <div class="contactInfo">
      <h1 class="notoSerif">This project was created by Team JustDoIT for the Information Technology Capstone course at the University of Missouri. This application is not intended to be commercialized without the consent of the Mizzou College of Engineering.</h1>
    </div>
  </div>
</ion-content>
