.home {
    margin: auto;
    text-align: center;
}
#muStacked {
    width: 25vw;
}
#header {
    background-color: #F1B82D;
    margin: auto;
    text-align: center;
    color: black;
    padding: 15px;
    font-size: x-large;
}
.test {
    background-color: #F1B82D;
    margin: auto;
    text-align: center;
}
ion-img {
    margin: auto;
    text-align: center;
}
ion-card {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    padding: 15px;
}
ion-card:hover {
    background-color: #F1B82D;
    color:black;
}
// .cardText:hover {
//     color:black;
// }
.programTitle {
    color: #F1B82D;
}