//Styling for Header
.buttoon {
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    font-size: x-large;
    margin-top: 0px;
}
.notoSerif {
    font-family: 'GRAPHIK', serif;
}
#muStacked {
    display: inline-block;
    width: 25vw;
    margin: 0;
    // border: 2px solid red;
    text-align: left;
}
.buttoon:hover {
    background-color: white;
    color: black;
}
ion-row {
    background-color: #000000;
}
.navbarWrapper {
    margin: auto;
    text-align: center;
    padding: 15px;
}
.home {
    margin: auto;
    text-align: center;
    // margin-bottom: 25vw;
}
.resultsWrapper {
    margin: auto;
    text-align: center;
}
.footer{
    background-color: #8F8884;
    margin: auto;
    text-align: center;
    color: black;
    padding: 15px;
    font-size: x-large;
}
.formButtonWrapper {
    width: 25%;
    margin: auto;
    text-align: center;
    display: inline-block;
}
.courseCount {
    background-color: #F1B82D;
    margin: auto;
    text-align: center;
}
.mainWrapper {
    background-color: #F1B82D;
    padding: 25px;
    width: 50%;
    border-radius: 25px;
    box-shadow: 15px;
    margin: auto;
    text-align: center;
    min-height: 500px;
}
.clearButton {
    background-color: red;
}
.submitButton {
    background-color: green;
}
.formWrapper {
    margin: auto;
    text-align: center;
    width: 25%;
}
.resultsWrapper {
    background-color: #F1B82D;
    color: black;
    padding: 15px;
    width: 75%;
    border-radius: 15px;
}
.resultCourseWrapper {
    display: flex;
}
.courseCard {
    width: 50%;
    margin: 15px;
}
.resultsWrapper h1 {
    color: black;
}
.test {
    background-color: #F1B82D;
    margin: auto;
    text-align: center;
}
ion-img {
    margin: auto;
    text-align: center;
}
ion-card {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    padding: 15px;
}
.programTitle {
    color: #F1B82D;
}
h1 {
    color: black;
}