.home {
    margin: auto;
    text-align: center;
}
.resultsWrapper {
    margin: auto;
    text-align: center;
}
.subtext{
    font-weight: bolder;
}
.footer{
    background-color:black;
    text-align: center;
    color: white;
    padding: 45px;
    font-size: x-large;
}
.titleWrapper {
    width: 50%;
    margin: auto;
    text-align: center;
}
.subtext {
    font-family: 'Montserrant', sans-serif;
}
.certificateDiv {
    background-color: #F1B82D;
    padding: 15px;
    width: 34%;
    border: 5px solid black;
    margin-bottom: 15px;
    // display: flex;
}
.mainerWrapper{
    display: flex;
}
form {
    border: 2px solid black;
}
.mainWrapper {
    padding: 25px;
    width: 100%;
    box-shadow: 15px;
    margin: auto;
    text-align: center;
    min-height: 1000px;
}
.clearButton {
    background-color: red;
}
h3 {
    font-family: 'gotham', sans-serif;
}
.submitButton {
    background-color: green;
}
.courseCard {
    width: 50%;
    margin: 15px;
}
.resultsWrapper h1 {
    color: black;
}
ion-img {
    margin: auto;
    text-align: center;
}
ion-card {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    border: 5px solid black;
}
ion-title {
    font-family: 'Montserrat', sans-serif;
}
.programTitle {
    color: #F1B82D;
}
.buttoon {
    margin: auto;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
  }
.formWrapper {
    margin: auto;
    text-align: center;
    width: 100%;
}
h1 {
    color: black;
}
ion-select {
    width: 100% !important;
}
ion-item {
    width: 100%;
}
.buttoon {
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    font-size: x-large;
    margin-top: 0px;
}
.notoSerif {
    font-family: 'GRAPHIK', serif;
}
#muStacked {
    display: inline-block;
    width: 25vw;
    margin: 0;
    text-align: left;
}
.buttoon:hover {
    background-color: white;
    color: black;
}
ion-row {
    background-color: #000000;
}
.navbarWrapper {
    margin: auto;
    text-align: center;
    padding: 15px;
}
.clearButton {
    width: 50%;
}
.clearWrapper {
    display: flex;
    width: 50%;
    margin: auto;
}